/* Container für die Teams */
.teams-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Style für den Inhalt der Tabs */
.tabcontent {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: calc(50% - 40px);
    /* Tabs in zwei Reihen mit 2 in jeder Reihe */
    box-sizing: border-box;
    display: none;
    animation: fadeEffect 1s;
    text-align: left;
}

/* Animation für die Tab-Inhalte */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Style die Tab-Knöpfe */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
}

.tab button {
    background-color: #ddd;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #333;
    font-weight: bold;
    width: 50%;
    /* Tabs in zwei Reihen mit 2 in jeder Reihe */
}

.tab button:hover {
    background-color: #ccc;
}

.tab button.active {
    background-color: #005500;
    color: white;
}

/* Styles für die Suggestions-Liste */
.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-list .selected {
    background-color: #5d67d3;
    color: #fbfbfb;
}

/* Styles für die Spieler-Liste */
.team-players {
    margin-top: 25px;
    list-style-type: none;
    padding: 0;
}

.team-players li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #f4f4f4;
    margin-bottom: 4px;
    border-radius: 4px;
}

.delete-player {
    cursor: pointer;
    color: red;
}

/* Styles für die Team-Typ-Labels */
.tabcontent .team-type {
    margin-top: 10px;
}

.tabcontent .team-type label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.tabcontent .team-type label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.tabcontent .team-type label .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 50%;
}

.tabcontent .team-type label:hover input~.checkmark {
    background-color: #bbb;
}

.tabcontent .team-type label input:checked~.checkmark {
    background-color: #005500;
}

.tabcontent .team-type label .checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

.tabcontent .team-type label input:checked~.checkmark:after {
    display: block;
}

.tabcontent .team-type label .checkmark:after {
    top: 9px;
    left: 9px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

/* Styles für die Extra-Punkte und speziellen Bedingungen */
.tabcontent .extra-points label,
.tabcontent .special-conditions label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.tabcontent .extra-points input[type="checkbox"],
.tabcontent .special-conditions input[type="checkbox"] {
    margin-right: 5px;
    height: 16px;
    width: 16px;
}

.tabcontent .extra-points .checkbox-label,
.tabcontent .special-conditions .checkbox-label {
    flex: 1;
    overflow-wrap: break-word;
    margin-left: 25px;
}

/* Styles für den Round-Info-Container */
.round-info-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.round-info h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.round-info .round-info-section {
    margin-bottom: 15px;
}

.round-info .round-info-section h3 {
    margin-bottom: 5px;
}

.round-info input[type="radio"],
.round-info input[type="checkbox"] {
    display: none;
}

.round-info label {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}

.round-info .checkmark {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.round-info input[type="radio"]:checked+.checkmark::after,
.round-info input[type="checkbox"]:checked+.checkmark::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #005500;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.round-info input[type="number"],
.round-info select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.toggle-section {
    cursor: pointer;
    margin-bottom: 5px;
}

.extra-points-content,
.special-conditions-content {
    display: block;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-height: 0;
}

.extra-points-content.collapsed,
.special-conditions-content.collapsed {
    max-height: none;
}

.toggle-indicator {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000;
    transition: transform 0.3s ease;
    vertical-align: middle;
    margin-left: 5px;
}

.toggle-indicator.rotated {
    transform: rotateZ(-90deg);
}

/* Styles für den Speichern-Button */
.save-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.save-button:hover {
    background-color: #45a049;
}

/* Media Queries für kleinere Bildschirme */
@media screen and (max-width: 768px) {
    .tab button {
        width: 100%;
        /* Tabs in einer Reihe bei kleineren Bildschirmen */
    }

    .tabcontent {
        width: 90%;
        /* Breitere Inhalte für kleinere Bildschirme */
        margin: 10px auto;
        /* Zentriere die Inhalte */
    }

    .teams-container {
        justify-content: center;
    }
}