/* Styles for Player Profile Page */

/* Player Profile Container */
.player-profile-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Player Info Section */
.player-info {
    flex: 1;
    margin-right: 20px;
}

.profile-picture {
    /* Placeholder for profile picture */
    width: 150px;
    height: 150px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 20px;
    /* Center profile picture */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.player-stats {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Player Stats and Winrates Section */
.player-stats-winrates {
    flex: 1;
    margin-left: 20px;
}

.teammates-container {
    display: flex;
    justify-content: space-between;
}

.best-teammates,
.worst-teammates {
    flex: 1;
    margin-right: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.best-teammates h3,
.worst-teammates h3 {
    margin-top: 0;
}

/* Match History Section */
.match-history-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.match-info-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #1c6c31;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.match-column-header {
    flex: 1;
    text-align: center;
}

/* Match Container Styles */
.match-container {
    margin-top: 10px;
}

.match {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.match:hover {
    background-color: #f0f0f0;
}

.match-column {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-container {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
}

.re-teams,
.kontra-teams {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.re-kontra-container {
    display: flex;
    justify-content: space-between;
}

.re-kontra-container .teams-column {
    flex: 1;
    text-align: center;
}

.teams-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-container:not(:last-child) {
    margin-bottom: 10px;
}

.player-name {
    display: block;
}

/* Styles for won matches */
.match.won {
    background-color: #b3ffb36b;
}

/* Styles for lost matches */
.match.lost {
    background-color: #ffb3b37f;
}

/* Load More Button */
#pagination {
    text-align: center;
    margin-top: 20px;
}

#loadMoreBtn {
    background-color: #1c6c31;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

#loadMoreBtn:hover {
    background-color: #145021;
}