/* Player Stats Table */
.player-stats {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.player-stats table {
    width: 100%;
    border-collapse: collapse;
}

.player-stats td {
    padding: 8px;
    border: 1px solid #ddd;
}

.player-stats td:first-child {
    font-weight: bold;
}

.winrate,
.mean_points {
    transition: color 0.3s ease;
}

/* Other styles from your initial CSS file */
.player-profile-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.player-info {
    flex: 1;
    margin-right: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.player-stats-winrates {
    flex: 1;
    margin-left: 20px;
}

.teammates-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.best-teammates,
.stonks-teammates,
.broke-teammates,
.winstreak-teammates,
.worst-teammates {
    flex: 1;
    margin-right: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.best-teammates h3,
.stonks-teammates h3,
.broke-teammates h3,
.winstreak-teammates h3,
.worst-teammates h3 {
    margin-top: 0;
}

.match-history-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.match-info-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #1c6c31;
    color: #fff;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 8px;
}

.match-column-header {
    flex: 1;
    text-align: center;
}

.match-container {
    margin-top: 10px;
}

.match {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f4fbff;
    border: 1px solid #adadad;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: large;
}

.match:hover {
    background-color: #f0f0f0;
}

.match-column {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.match-column.solo {
    font-weight: bold;
    font-size: larger;
}

.match-column.points {
    font-weight: bold;
    font-size: larger;
}

.match-column.points.won {
    color: #00861d;
}

.match-column.points.lost {
    color: #da0f00;
}

.team-container {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
}

.re-teams,
.kontra-teams {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.re-kontra-container {
    display: flex;
    justify-content: space-between;
}

.re-kontra-container .teams-column {
    flex: 1;
    text-align: center;
}

.teams-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-container:not(:last-child) {
    margin-bottom: 10px;
}

.player-name {
    display: block;
}

.match.won {
    background-color: #b3ffb36b;
}

.match.lost {
    background-color: #ffb3b37f;
}

.match-icon {
    color: gold;
    /* Example color for the star badge */
    margin-right: 5px;
    /* Adjust spacing */
    font-size: 1.2em;
    /* Size of the icon */
    width: 3px;
}

#pagination {
    text-align: center;
    margin-top: 20px;
}

#loadMoreBtn {
    background-color: #1c6c31;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

#loadMoreBtn:hover {
    background-color: #145021;
}

/* Teammates list styles */
.teammates-container {
    display: flex;
    justify-content: space-between;
}

.best-teammates,
.worst-teammates {
    flex: 1;
    margin-right: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.best-teammates h3,
.worst-teammates h3 {
    margin-top: 0;
}

.teammate-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.teammate-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.teammate-item .info-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.teammate-item span {
    min-width: 0;
}

.teammate-item .name {
    flex: 1;
    text-align: left;
}

.teammate-item .winrate {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}

.teammate-item .mean_points {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}

.teammate-item .total-games {
    white-space: nowrap;
    text-align: right;
    font-weight: bold;
}

/* Special Cards Table Container */
.special-cards-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.special-cards-container h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
}

/* Special Cards Table */
#specialCardsTable {
    width: 100%;
    border-collapse: collapse;
}

#specialCardsTable th,
#specialCardsTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#specialCardsTable th {
    background-color: #1c6c31;
    color: #fff;
    cursor: pointer;
}

#specialCardsTable th:hover {
    background-color: #145021;
}

#specialCardsTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

#specialCardsTable tr:hover {
    background-color: #f1f1f1;
}