/* Heading Styles */
h1,
h2 {
    color: #333;
}

/* Statistics Page Specific Styles */
#plot {
    width: 100%;
    height: 500px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

@media (max-width: 768px) {
    #plot {
        height: 300px;
    }
}