/* Heading Styles */
h1,
h2 {
    color: #333;
}

/* Statistics Page Specific Styles */
#plot {
    width: 100%;
    height: 500px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

@media (max-width: 768px) {
    #plot {
        height: 300px;
    }
}

/* Special Cards Table */
#specialCardsTable {
    width: 100%;
    /* border-collapse: collapse; */
}

#specialCardsTable th,
#specialCardsTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#specialCardsTable th {
    background-color: #1c6c31;
    color: #fff;
    cursor: pointer;
}

#specialCardsTable th:hover {
    background-color: #145021;
}

#specialCardsTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

#specialCardsTable tr:hover {
    background-color: #f1f1f1;
}

/* Game Counter */
#games-played-counter {
    text-align: center;
    color: #1c6c31;
    align-items: center;
}

#game-counter h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.counter {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Special Cards Table */
#gameTypesTable {
    width: 100%;
    /* border-collapse: collapse; */
}

#gameTypesTable th,
#gameTypesTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#gameTypesTable th {
    background-color: #1c6c31;
    color: #fff;
    cursor: pointer;
}

#gameTypesTable th:hover {
    background-color: #145021;
}

#gameTypesTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

#gameTypesTable tr:hover {
    background-color: #f1f1f1;
}