/* Globale Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
.navbar {
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Add this line to ensure navbar is always on top */
    z-index: 1000;
    position: relative;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0;
    background-color: #333;
}

.navbar a {
    color: rgb(42, 173, 99);
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 4px;
}

.navbar a:hover {
    background-color: #5c5c5ce5;
    color: #56af6e;
}

.navbar .active {
    background-color: #5c5c5ce5;
    color: #56af6e;
}

/* Mobile Styles */
.navbar-toggle {
    display: none;
    background-color: #333;
    color: rgb(42, 173, 99);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: 0;
    }

    .navbar li {
        text-align: center;
        width: 100%;
    }

    .navbar-toggle {
        display: block;
    }
}

.navbar-menu.show {
    display: flex;
}

/* Container für Inhalte */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* H1 und H2 Styles */
h1,
h2 {
    color: #333;
}

/* Styles für die Spieler-Liste */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e7e7e7;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

.delete-player {
    cursor: pointer;
    color: #ff0000;
    font-size: 1.2em;
}

.delete-player:hover {
    color: #cc0000;
}

/* Form-Styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}