<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Koppeldopf{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <nav class="navbar">
        <button class="navbar-toggle" id="navbar-toggle">&#9776;</button>
        <ul class="navbar-menu" id="navbar-menu">
            <li><a href="{{ url_for('players') }}" class="{{ 'active' if request.endpoint == 'players' }}">Meet the
                    Gang</a>
            </li>
            <li><a href="{{ url_for('new_game') }}" class="{{ 'active' if request.endpoint == 'new_game' }}">Neues
                    Spiel</a></li>
            <li><a href="{{ url_for('overview') }}"
                    class="{{ 'active' if request.endpoint == 'overview' }}">Standings</a>
            </li>
            <li><a href="{{ url_for('rules') }}" class="{{ 'active' if request.endpoint == 'rules' }}">Spielregeln</a>
            </li>
            <li><a href="{{ url_for('statistics') }}"
                    class="{{ 'active' if request.endpoint == 'statistics' }}">Statistiken</a>
            </li>
            <li><a href="{{ url_for('match_history') }}"
                    class="{{ 'active' if request.endpoint == 'match_history' }}">Rundenübersicht</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>