{% extends "base.html" %}

{% block title %}Inaktive Spieler*innen{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/inactive_players.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Inaktive</h1>
    <ul id="player-list">
        <!-- Spieler werden hier durch JS hinzugefügt -->
    </ul>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/inactive_players.js') }}"></script>
{% endblock %}