{% extends "base.html" %}

{% block title %}Rundenübersicht{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/match_history.css') }}">
{% endblock %}

{% block content %}
<h1>Last Matches</h1>

<!-- Container for Match Info Headers -->
<div class="match-info-header">
    <div class="match-column-header">Date</div>
    <div class="match-column-header">Type</div>
    <div class="match-column-header">Re</div>
    <div class="match-column-header">Kontra</div>
    <div class="match-column-header">Winner</div>
    <div class="match-column-header">Points</div>
</div>

<!-- Match Container -->
<div id="matchContainer" class="match-container">
    <!-- Matches will be dynamically inserted here -->
</div>

<!-- Pagination -->
<div id="pagination">
    <button id="loadMoreBtn">Show more matches</button>
</div>

{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/match_history.js') }}"></script>
{% endblock %}