{% extends "base.html" %}

{% block title %}Neues Spiel{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_game.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Teams eingeben</h1>
    <div class="tab">
        <button class="tablinks" onclick="openTeam(event, 'team1')" id="defaultOpen">Team 1</button>
        <button class="tablinks" onclick="openTeam(event, 'team2')">Team 2</button>
        <button class="tablinks" onclick="openTeam(event, 'team3')">Team 3</button>
        <button class="tablinks" onclick="openTeam(event, 'team4')">Team 4</button>
    </div>
    <div class="teams-container">

        <!-- Tab content -->
        <div id="team1" class="tabcontent">
            <h2>Team 1</h2>
            <input type="text" id="team1-player-name" placeholder="Spieler*in hinzufügen">
            <ul id="team1-suggestions" class="suggestions-list"></ul>
            <ul id="team1-players" class="team-players"></ul>
            <div class="team-type">
                <label>
                    <input type="radio" name="team1-type" value="Re">
                    <span class="checkmark"></span>
                    Re
                </label>
                <label>
                    <input type="radio" name="team1-type" value="Kontra">
                    <span class="checkmark"></span>
                    Kontra
                </label>
            </div>
            <div class="extra-points">
                <h3 class="toggle-section">Extrapunkte <span class="toggle-indicator"></span></h3>
                <div class="extra-points-content">
                    <label>
                        <input type="checkbox" name="team1-extra-points" value="Doppelkopf">
                        <span class="checkbox-checkmark"></span>
                        Doppelkopf
                    </label>
                    <label>
                        <input type="checkbox" name="team1-extra-points" value="Fuchs gefangen">
                        <span class="checkbox-checkmark"></span>
                        Fuchs gefangen
                    </label>
                    <label>
                        <input type="checkbox" name="team1-extra-points" value="Fischauge">
                        <span class="checkbox-checkmark"></span>
                        Fischauge
                    </label>
                    <label>
                        <input type="checkbox" name="team1-extra-points" value="Gans">
                        <span class="checkbox-checkmark"></span>
                        Gans gefangen
                    </label>
                    <label>
                        <input type="checkbox" name="team1-extra-points" value="Festmahl">
                        <span class="checkbox-checkmark"></span>
                        Festmahl
                    </label>
                    <label>
                        <input type="checkbox" name="team1-extra-points" value="Blutbad">
                        <span class="checkbox-checkmark"></span>
                        Blutbad
                    </label>
                    <label>
                        <input type="checkbox" name="team1-extra-points" value="Karlchen">
                        <span class="checkbox-checkmark"></span>
                        Karlchen
                    </label>
                    <label>
                        <input type="checkbox" name="team1-extra-points" value="Agathe">
                        <span class="checkbox-checkmark"></span>
                        Agathe
                    </label>
                    <label>
                        <input type="checkbox" name="team1-extra-points" value="Klaubautermann">
                        <span class="checkbox-checkmark"></span>
                        Klaubautermann
                    </label>
                    <label>
                        <input type="checkbox" name="team1-extra-points" value="Kaffeekränzchen">
                        <span class="checkbox-checkmark"></span>
                        Kaffeekränzchen
                    </label>
                </div>
            </div>
            <div class="special-conditions">
                <h3 class="toggle-section">Besondere Karten <span class="toggle-indicator"></span></h3>
                <div class="special-conditions-content">
                    <label>
                        <input type="checkbox" name="team1-special-conditions" value="Schweinchen">
                        <span class="checkbox-checkmark"></span>
                        Schweinchen
                    </label>
                    <label>
                        <input type="checkbox" name="team1-special-conditions" value="Superschweinchen">
                        <span class="checkbox-checkmark"></span>
                        Superschweinchen
                    </label>
                    <label>
                        <input type="checkbox" name="team1-special-conditions" value="Hyperschweinchen">
                        <span class="checkbox-checkmark"></span>
                        Hyperschweinchen
                    </label>
                    <label>
                        <input type="checkbox" name="team1-special-conditions" value="Genscherdamen">
                        <span class="checkbox-checkmark"></span>
                        Genscherdamen
                    </label>
                    <label>
                        <input type="checkbox" name="team1-special-conditions" value="Gegengenscherdamen">
                        <span class="checkbox-checkmark"></span>
                        Gegengenscherdamen
                    </label>
                    <label>
                        <input type="checkbox" name="team1-special-conditions" value="Heidmann">
                        <span class="checkbox-checkmark"></span>
                        Heidmann
                    </label>
                    <label>
                        <input type="checkbox" name="team1-special-conditions" value="Heidfrau">
                        <span class="checkbox-checkmark"></span>
                        Heidfrau
                    </label>
                    <label>
                        <input type="checkbox" name="team1-special-conditions" value="Kämmerich">
                        <span class="checkbox-checkmark"></span>
                        Kämmerich
                    </label>
                    <label>
                        <input type="checkbox" name="team1-special-conditions" value="Linksdrehender Gehängter">
                        <span class="checkbox-checkmark"></span>
                        Linksdrehender Gehängter
                    </label>
                </div>
            </div>
        </div>

        <div id="team2" class="tabcontent">
            <h2>Team 2</h2>

            <input type="text" id="team2-player-name" placeholder="Spieler*in hinzufügen">
            <ul id="team2-suggestions" class="suggestions-list"></ul>
            <ul id="team2-players" class="team-players"></ul>
            <div class="team-type">
                <label>
                    <input type="radio" name="team2-type" value="Re">
                    <span class="checkmark"></span>
                    Re
                </label>
                <label>
                    <input type="radio" name="team2-type" value="Kontra">
                    <span class="checkmark"></span>
                    Kontra
                </label>
            </div>
            <div class="extra-points">
                <h3 class="toggle-section">Extrapunkte <span class="toggle-indicator"></span></h3>
                <div class="extra-points-content">
                    <label>
                        <input type="checkbox" name="team2-extra-points" value="Doppelkopf">
                        <span class="checkbox-checkmark"></span>
                        Doppelkopf
                    </label>
                    <label>
                        <input type="checkbox" name="team2-extra-points" value="Fuchs gefangen">
                        <span class="checkbox-checkmark"></span>
                        Fuchs gefangen
                    </label>
                    <label>
                        <input type="checkbox" name="team2-extra-points" value="Fischauge">
                        <span class="checkbox-checkmark"></span>
                        Fischauge
                    </label>
                    <label>
                        <input type="checkbox" name="team2-extra-points" value="Gans">
                        <span class="checkbox-checkmark"></span>
                        Gans gefangen
                    </label>
                    <label>
                        <input type="checkbox" name="team2-extra-points" value="Festmahl">
                        <span class="checkbox-checkmark"></span>
                        Festmahl
                    </label>
                    <label>
                        <input type="checkbox" name="team2-extra-points" value="Blutbad">
                        <span class="checkbox-checkmark"></span>
                        Blutbad
                    </label>
                    <label>
                        <input type="checkbox" name="team2-extra-points" value="Karlchen">
                        <span class="checkbox-checkmark"></span>
                        Karlchen
                    </label>
                    <label>
                        <input type="checkbox" name="team2-extra-points" value="Agathe">
                        <span class="checkbox-checkmark"></span>
                        Agathe
                    </label>
                    <label>
                        <input type="checkbox" name="team2-extra-points" value="Klaubautermann">
                        <span class="checkbox-checkmark"></span>
                        Klaubautermann
                    </label>
                    <label>
                        <input type="checkbox" name="team2-extra-points" value="Kaffeekränzchen">
                        <span class="checkbox-checkmark"></span>
                        Kaffeekränzchen
                    </label>
                </div>
            </div>
            <div class="special-conditions">
                <h3 class="toggle-section">Besondere Karten <span class="toggle-indicator"></span></h3>
                <div class="special-conditions-content">
                    <label>
                        <input type="checkbox" name="team2-special-conditions" value="Schweinchen">
                        <span class="checkbox-checkmark"></span>
                        Schweinchen
                    </label>
                    <label>
                        <input type="checkbox" name="team2-special-conditions" value="Superschweinchen">
                        <span class="checkbox-checkmark"></span>
                        Superschweinchen
                    </label>
                    <label>
                        <input type="checkbox" name="team2-special-conditions" value="Hyperschweinchen">
                        <span class="checkbox-checkmark"></span>
                        Hyperschweinchen
                    </label>
                    <label>
                        <input type="checkbox" name="team2-special-conditions" value="Genscherdamen">
                        <span class="checkbox-checkmark"></span>
                        Genscherdamen
                    </label>
                    <label>
                        <input type="checkbox" name="team2-special-conditions" value="Gegengenscherdamen">
                        <span class="checkbox-checkmark"></span>
                        Gegengenscherdamen
                    </label>
                    <label>
                        <input type="checkbox" name="team2-special-conditions" value="Heidmann">
                        <span class="checkbox-checkmark"></span>
                        Heidmann
                    </label>
                    <label>
                        <input type="checkbox" name="team2-special-conditions" value="Heidfrau">
                        <span class="checkbox-checkmark"></span>
                        Heidfrau
                    </label>
                    <label>
                        <input type="checkbox" name="team2-special-conditions" value="Kämmerich">
                        <span class="checkbox-checkmark"></span>
                        Kämmerich
                    </label>
                    <label>
                        <input type="checkbox" name="team2-special-conditions" value="Linksdrehender Gehängter">
                        <span class="checkbox-checkmark"></span>
                        Linksdrehender Gehängter
                    </label>
                </div>
            </div>
        </div>

        <div id="team3" class="tabcontent">
            <h2>Team 3</h2>

            <input type="text" id="team3-player-name" placeholder="Spieler*in hinzufügen">
            <ul id="team3-suggestions" class="suggestions-list"></ul>
            <ul id="team3-players" class="team-players"></ul>
            <div class="team-type">
                <label>
                    <input type="radio" name="team3-type" value="Re">
                    <span class="checkmark"></span>
                    Re
                </label>
                <label>
                    <input type="radio" name="team3-type" value="Kontra">
                    <span class="checkmark"></span>
                    Kontra
                </label>
            </div>
            <div class="extra-points">
                <h3 class="toggle-section">Extrapunkte <span class="toggle-indicator"></span></h3>
                <div class="extra-points-content">
                    <label>
                        <input type="checkbox" name="team3-extra-points" value="Doppelkopf">
                        <span class="checkbox-checkmark"></span>
                        Doppelkopf
                    </label>
                    <label>
                        <input type="checkbox" name="team3-extra-points" value="Fuchs gefangen">
                        <span class="checkbox-checkmark"></span>
                        Fuchs gefangen
                    </label>
                    <label>
                        <input type="checkbox" name="team3-extra-points" value="Fischauge">
                        <span class="checkbox-checkmark"></span>
                        Fischauge
                    </label>
                    <label>
                        <input type="checkbox" name="team3-extra-points" value="Gans">
                        <span class="checkbox-checkmark"></span>
                        Gans gefangen
                    </label>
                    <label>
                        <input type="checkbox" name="team3-extra-points" value="Festmahl">
                        <span class="checkbox-checkmark"></span>
                        Festmahl
                    </label>
                    <label>
                        <input type="checkbox" name="team3-extra-points" value="Blutbad">
                        <span class="checkbox-checkmark"></span>
                        Blutbad
                    </label>
                    <label>
                        <input type="checkbox" name="team3-extra-points" value="Karlchen">
                        <span class="checkbox-checkmark"></span>
                        Karlchen
                    </label>
                    <label>
                        <input type="checkbox" name="team3-extra-points" value="Agathe">
                        <span class="checkbox-checkmark"></span>
                        Agathe
                    </label>
                    <label>
                        <input type="checkbox" name="team3-extra-points" value="Klaubautermann">
                        <span class="checkbox-checkmark"></span>
                        Klaubautermann
                    </label>
                    <label>
                        <input type="checkbox" name="team3-extra-points" value="Kaffeekränzchen">
                        <span class="checkbox-checkmark"></span>
                        Kaffeekränzchen
                    </label>
                </div>
            </div>
            <div class="special-conditions">
                <h3 class="toggle-section">Besondere Karten <span class="toggle-indicator"></span></h3>
                <div class="special-conditions-content">
                    <label>
                        <input type="checkbox" name="team3-special-conditions" value="Schweinchen">
                        <span class="checkbox-checkmark"></span>
                        Schweinchen
                    </label>
                    <label>
                        <input type="checkbox" name="team3-special-conditions" value="Superschweinchen">
                        <span class="checkbox-checkmark"></span>
                        Superschweinchen
                    </label>
                    <label>
                        <input type="checkbox" name="team3-special-conditions" value="Hyperschweinchen">
                        <span class="checkbox-checkmark"></span>
                        Hyperschweinchen
                    </label>
                    <label>
                        <input type="checkbox" name="team3-special-conditions" value="Genscherdamen">
                        <span class="checkbox-checkmark"></span>
                        Genscherdamen
                    </label>
                    <label>
                        <input type="checkbox" name="team3-special-conditions" value="Gegengenscherdamen">
                        <span class="checkbox-checkmark"></span>
                        Gegengenscherdamen
                    </label>
                    <label>
                        <input type="checkbox" name="team3-special-conditions" value="Heidmann">
                        <span class="checkbox-checkmark"></span>
                        Heidmann
                    </label>
                    <label>
                        <input type="checkbox" name="team3-special-conditions" value="Heidfrau">
                        <span class="checkbox-checkmark"></span>
                        Heidfrau
                    </label>
                    <label>
                        <input type="checkbox" name="team3-special-conditions" value="Kämmerich">
                        <span class="checkbox-checkmark"></span>
                        Kämmerich
                    </label>
                    <label>
                        <input type="checkbox" name="team3-special-conditions" value="Linksdrehender Gehängter">
                        <span class="checkbox-checkmark"></span>
                        Linksdrehender Gehängter
                    </label>
                </div>
            </div>
        </div>

        <div id="team4" class="tabcontent">
            <h2>Team 4</h2>

            <input type="text" id="team4-player-name" placeholder="Spieler*in hinzufügen">
            <ul id="team4-suggestions" class="suggestions-list"></ul>
            <ul id="team4-players" class="team-players"></ul>
            <div class="team-type">
                <label>
                    <input type="radio" name="team4-type" value="Re">
                    <span class="checkmark"></span>
                    Re
                </label>
                <label>
                    <input type="radio" name="team4-type" value="Kontra">
                    <span class="checkmark"></span>
                    Kontra
                </label>
            </div>
            <div class="extra-points">
                <h3 class="toggle-section">Extrapunkte <span class="toggle-indicator"></span></h3>
                <div class="extra-points-content">
                    <label>
                        <input type="checkbox" name="team4-extra-points" value="Doppelkopf">
                        <span class="checkbox-checkmark"></span>
                        Doppelkopf
                    </label>
                    <label>
                        <input type="checkbox" name="team4-extra-points" value="Fuchs gefangen">
                        <span class="checkbox-checkmark"></span>
                        Fuchs gefangen
                    </label>
                    <label>
                        <input type="checkbox" name="team4-extra-points" value="Fischauge">
                        <span class="checkbox-checkmark"></span>
                        Fischauge
                    </label>
                    <label>
                        <input type="checkbox" name="team1-extra-points" value="Gans">
                        <span class="checkbox-checkmark"></span>
                        Gans gefangen
                    </label>
                    <label>
                        <input type="checkbox" name="team4-extra-points" value="Festmahl">
                        <span class="checkbox-checkmark"></span>
                        Festmahl
                    </label>
                    <label>
                        <input type="checkbox" name="team4-extra-points" value="Blutbad">
                        <span class="checkbox-checkmark"></span>
                        Blutbad
                    </label>
                    <label>
                        <input type="checkbox" name="team4-extra-points" value="Karlchen">
                        <span class="checkbox-checkmark"></span>
                        Karlchen
                    </label>
                    <label>
                        <input type="checkbox" name="team4-extra-points" value="Agathe">
                        <span class="checkbox-checkmark"></span>
                        Agathe
                    </label>
                    <label>
                        <input type="checkbox" name="team4-extra-points" value="Klaubautermann">
                        <span class="checkbox-checkmark"></span>
                        Klaubautermann
                    </label>
                    <label>
                        <input type="checkbox" name="team4-extra-points" value="Kaffeekränzchen">
                        <span class="checkbox-checkmark"></span>
                        Kaffeekränzchen
                    </label>
                </div>
            </div>
            <div class="special-conditions">
                <h3 class="toggle-section">Besondere Karten <span class="toggle-indicator"></span></h3>
                <div class="special-conditions-content">
                    <label>
                        <input type="checkbox" name="team4-special-conditions" value="Schweinchen">
                        <span class="checkbox-checkmark"></span>
                        Schweinchen
                    </label>
                    <label>
                        <input type="checkbox" name="team4-special-conditions" value="Superschweinchen">
                        <span class="checkbox-checkmark"></span>
                        Superschweinchen
                    </label>
                    <label>
                        <input type="checkbox" name="team4-special-conditions" value="Hyperschweinchen">
                        <span class="checkbox-checkmark"></span>
                        Hyperschweinchen
                    </label>
                    <label>
                        <input type="checkbox" name="team4-special-conditions" value="Genscherdamen">
                        <span class="checkbox-checkmark"></span>
                        Genscherdamen
                    </label>
                    <label>
                        <input type="checkbox" name="team4-special-conditions" value="Gegengenscherdamen">
                        <span class="checkbox-checkmark"></span>
                        Gegengenscherdamen
                    </label>
                    <label>
                        <input type="checkbox" name="team4-special-conditions" value="Heidmann">
                        <span class="checkbox-checkmark"></span>
                        Heidmann
                    </label>
                    <label>
                        <input type="checkbox" name="team4-special-conditions" value="Heidfrau">
                        <span class="checkbox-checkmark"></span>
                        Heidfrau
                    </label>
                    <label>
                        <input type="checkbox" name="team4-special-conditions" value="Kämmerich">
                        <span class="checkbox-checkmark"></span>
                        Kämmerich
                    </label>
                    <label>
                        <input type="checkbox" name="team4-special-conditions" value="Linksdrehender Gehängter">
                        <span class="checkbox-checkmark"></span>
                        Linksdrehender Gehängter
                    </label>
                </div>
            </div>
        </div>

    </div>


    <!-- ------------------------------------------------------- -->
    <!-- ------------------------------------------------------- -->
    <!-- ------------------------------------------------------- -->

    <div class="round-info-container">
        <h2>Rundeninfo</h2>
        <div class="round-info">
            <div class="round-info-section">
                <div class="round-info-section">
                    <h3>Spiel</h3>
                    <select id="game-type">
                        <option value="Normal">Normal</option>
                        <option value="Hochzeit">Hochzeit</option>
                        <option value="Trumpfsolo">Trumpfsolo</option>
                        <option value="Damensolo">Damensolo</option>
                        <option value="Bubensolo">Bubensolo</option>
                        <option value="Fleischloses">Fleischloses</option>
                        <option value="Knochenloses">Knochenloses</option>
                        <option value="Armut">Armut</option>
                        <option value="Schlanker Martin">Schlanker Martin</option>
                        <option value="Kontrasolo">Kontrasolo</option>
                        <option value="Stille Hochzeit">Stille Hochzeit</option>
                    </select>
                </div>
                <h3>Siegerpartei</h3>
                <label>
                    <input type="radio" name="winning-party" value="Re">
                    <span class="checkmark"></span>
                    Re
                </label>
                <label>
                    <input type="radio" name="winning-party" value="Kontra">
                    <span class="checkmark"></span>
                    Kontra
                </label>
            </div>

            <div class="round-info-section">
                <h3>Punkte für Siegerpartei</h3>
                <input type="text" id="points" placeholder="Punkte eingeben...">
                <span class="footnote">Bei Solospielen nur den einfachen Wert eintragen!</span>
            </div>
        </div>
    </div>

    <button id="save-game" class="save-button">Spiel speichern</button>

</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/new_game.js') }}"></script>
{% endblock %}