{% extends "base.html" %}

{% block title %}Spieler*innen{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/players.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Die Gang</h1>
    <ul id="player-list">
        <!-- Spieler werden hier durch JS hinzugefügt -->
    </ul>
    <h2>Neue Spieler*in hinzufügen</h2>
    <form id="add-player-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <button type="submit">Hinzufügen</button>
    </form>
</div>
<button id="show_inactive">Zu inaktiven Spieler*innen</button>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/players.js') }}"></script>
{% endblock %}