{% extends "base.html" %}

{% block title %}Spielregeln{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/rules.css') }}">
{% endblock %}

{% block content %}
<!-- Table of Contents -->
<nav class="toc">
    <ul>
        <li><a href="#grundlagen">Grundlagen</a>
            <ul>
                <li><a href="#parteien">Parteien</a></li>
                <li><a href="#dullen">Dullen</a></li>
                <li><a href="#neuner">Neuner</a></li>
                <li><a href="#spielrichtung">Spielrichtung</a></li>
            </ul>
        </li>
        <li><a href="#vorbehalte">Vorbehalte</a>
            <ul>
                <li><a href="#solivorbehalte">Soli</a></li>
                <li><a href="#armut">Armut</a></li>
                <li><a href="#hochzeit">Hochzeit</a></li>
                <li><a href="#schmeißen">Schmeißen</a> </li>
                <li><a href="#schlankermartinschmeißen">Schlanker Martin</a></li>
            </ul>
        </li>
        <li><a href="#spielarten">Stille Soli</a>
            <ul>
                <li><a href="#stillehochzeit">Stille Hochzeit</a></li>
                <li><a href="#kontrasolo">Kontrasolo</a></li>
            </ul>
        </li>
        <li><a href="#soli">Soli </a>
            <ul>
                <li><a href="#trumpfolo">Trumpfsolo</a></li>
                <li><a href="#damensolo">Damensolo</a></li>
                <li><a href="#bubensolo">Bubensolo</a></li>
                <li><a href="#fleischlos">Fleischloses</a> </li>
                <li><a href="#knochenlos">Knochenloses</a></li>
                <li><a href="#schlankermartin">Schlanker Martin</a></li>
            </ul>
        </li>
        <li><a href="#spielbeginn">Spielbeginn</a>
            <ul>
                <li><a href="#ansagen">Ansagen</a></li>
                <li><a href="#feigheit">Feigheit</a></li>
                <li><a href="#rauskommen">Wer kommt raus?</a></li>
            </ul>
        </li>
        <li><a href="#sonderkarten">Sonderkarten</a>
            <ul>
                <li><a href="#schweinchen">Schweinchen</a></li>
                <li><a href="#superschweinchen">Superschweinchen</a></li>
                <li><a href="#hyperschweinchen">Hyperschweinchen</a></li>
                <li><a href="#linksdrehendergehängter">Linksdrehender Gehängter</a></li>
                <li><a href="#genscherdamen">Genscherdamen</a></li>
                <li><a href="#gegengenscherdamen">Gegengenscherdamen</a></li>
                <li><a href="#heidmann">Heidmann</a></li>
                <li><a href="#heidfrau">Heidfrau</a></li>
                <li><a href="#kämmerich">Kämmerich</a></li>
            </ul>
        </li>
        <li><a href="#extrapunkte">Extrapunkte</a>
            <ul>
                <li><a href="#doppelkopf">Doppelkopf</a></li>
                <li><a href="#fuchsgefangen">Fuchs gefangen</a></li>
                <li><a href="#karlchen">Karlchen</a></li>
                <li><a href="#agathe">Agathe</a></li>
                <li><a href="#fischauge">Fischauge</a></li>
                <li><a href="#gansgefangen">Gans gefangen</a></li>
                <li><a href="#festmahl">Festmahl</a></li>
                <li><a href="#blutbad">Blutbad</a></li>
                <li><a href="#klabautermann">Klabautermann</a></li>
                <li><a href="#kaffekränzchen">Kaffekränzchen</a></li>
            </ul>
        </li>
        <li><a href="#spielwert">Spielwert</a></li>
        <li><a href="#redewendungen">Redewendungen</a>
            <ul>
                <li><a href="#stichvernichtung">Stichvernichtung</a></li>
                <li><a href="#glaube">Glaube verloren</a></li>
                <li><a href="#verheizen">Alte verheizen</a></li>
                <li><a href="#ksg">KSG Moment</a></li>
                <li><a href="#exoderstill">Ex oder still</a></li>
            </ul>
        </li>
    </ul>
    <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <path stroke="#155726" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000"
            stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
    </svg>
</nav>


<!-- Content -->
<article class="contents">
    <section id="grundlagen">
        <h2>Grundlagen</h2>
        <div id="parteien">
            <h3>Parteien</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="dullen">
            <h3>Dullen</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="neuner">
            <h3>Neuner</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="spielrichtung">
            <h3>Spielrichtung</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
    </section>

    <section id="vorbehalte">
        <h2>Vorbehalte</h2>
        <div id="solivorbehalte">
            <h3>Soli</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="armut">
            <h3>Armut</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="hochzeit">
            <h3>Hochzeit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="schmeißen">
            <h3>Schmeißen</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="schlankermartinschmeißen">
            <h3>Schlanker Martin</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
    </section>

    <section id="spielarten">
        <h2>Stille Soli</h2>
        <div id="stillehochzeit">
            <h3>Stille Hochzeit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="kontrasolo">
            <h3>Kontrasolo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
    </section>

    <section id="soli">
        <h2>Soli</h2>
        <div id="trumpfolo">
            <h3>Trumpfsolo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="damensolo">
            <h3>Damensolo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="bubensolo">
            <h3>Bubensolo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="fleischlos">
            <h3>Fleischloses</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="knochenlos">
            <h3>Knochenloses</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="schlankermartin">
            <h3>Schlanker Martin</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
    </section>
    <section id="spielbeginn">
        <h2>Spielbeginn</h2>
        <div id="ansagen">
            <h3>Ansagen</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="feigheit">
            <h3>Feigheit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="rauskommen">
            <h3>Wer kommt raus?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
    </section>

    <section id="sonderkarten">
        <h2>Sonderkarten</h2>
        <div id="schweinchen">
            <h3>Schweinchen</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="superschweinchen">
            <h3>Superschweinchen</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="hyperschweinchen">
            <h3>Hyperschweinchen</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="linksdrehendergehängter">
            <h3>Linksdrehender Gehängter</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="genscherdamen">
            <h3>Genscherdamen</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="gegengenscherdamen">
            <h3>Gegengenscherdamen</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="heidmann">
            <h3>Heidmann</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="heidfrau">
            <h3>Heidfrau</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="kämmerich">
            <h3>Kämmerich</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
    </section>

    <section id="extrapunkte">
        <h2>Extrapunkte</h2>
        <div id="doppelkopf">
            <h3>Doppelkopf</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="fuchsgefangen">
            <h3>Fuchs gefangen</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="karlchen">
            <h3>Karlchen</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="agathe">
            <h3>Agathe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="fischauge">
            <h3>Fischauge</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="gansgefangen">
            <h3>Gans gefangen</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="festmahl">
            <h3>Festmahl</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="blutbad">
            <h3>Blutbad</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="klabautermann">
            <h3>Klabautermann</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="kaffekränzchen">
            <h3>Kaffekränzchen</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
    </section>

    <section id="spielwert">
        <h2>Spielwert</h2>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
    </section>

    <section id="redewendungen">
        <h2>Redewendungen</h2>
        <div id="stichvernichtung">
            <h3>Stichvernichtung</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="glaube">
            <h3>Glaube verloren</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="verheizen">
            <h3>Alte verheizen</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="ksg">
            <h3>KSG Moment</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="exoderstill">
            <h3>Ex oder still?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
    </section>

</article>

{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/rules.js') }}"></script>
{% endblock %}