{% extends "base.html" %}

{% block title %}Spielregeln{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/rules.css') }}">
{% endblock %}

{% block content %}
<!-- Table of Contents -->
<div class="toc-toggle" onclick="toggleTOC()">☰ Table of Contents</div>
<nav class="toc">
    <ul>
        <li><a href="#grundlagen">Grundlagen</a>
            <ul>
                <li><a href="#parteien">Parteien</a></li>
                <li><a href="#dullen">Dullen</a></li>
                <li><a href="#neuner">Neuner</a></li>
                <li><a href="#spielrichtung">Spielrichtung</a></li>
            </ul>
        </li>
        <li><a href="#vorbehalte">Vorbehalte</a>
            <ul>
                <li><a href="#solivorbehalte">Soli</a></li>
                <li><a href="#armut">Armut</a></li>
                <li><a href="#armut">Schwarze Sau</a></li>
                <li><a href="#hochzeit">Hochzeit</a></li>
                <li><a href="#schmeißen">Schmeißen</a> </li>
                <li><a href="#schlankermartinschmeißen">Schlanker Martin</a></li>
            </ul>
        </li>
        <li><a href="#spielarten">Stille Soli</a>
            <ul>
                <li><a href="#stillehochzeit">Stille Hochzeit</a></li>
                <li><a href="#kontrasolo">Kontrasolo</a></li>
            </ul>
        </li>
        <li><a href="#soli">Soli </a>
            <ul>
                <li><a href="#farbsolo">Farbsolo</a></li>
                <li><a href="#damensolo">Damensolo</a></li>
                <li><a href="#bubensolo">Bubensolo</a></li>
                <li><a href="#fleischlos">Fleischloses</a> </li>
                <li><a href="#knochenlos">Knochenloses</a></li>
                <li><a href="#schlankermartin">Schlanker Martin</a></li>
            </ul>
        </li>
        <li><a href="#spielbeginn">Spielbeginn</a>
            <ul>
                <li><a href="#ansagen">Ansagen</a></li>
                <li><a href="#pflichtansage">Pflichtansage</a></li>
                <li><a href="#feigheit">Feigheit</a></li>
                <li><a href="#rauskommen">Wer kommt raus?</a></li>
            </ul>
        </li>
        <li><a href="#sonderkarten">Sonderkarten</a>
            <ul>
                <li><a href="#schweinchen">Schweinchen<span class="red-card"> A &diams;</span></a></li>
                <li><a href="#superschweinchen">Superschweinchen<span class="red-card"> 10 &diams;</span></a></li>
                <li><a href="#hyperschweinchen">Hyperschweinchen<span class="red-card"> K &diams;</span></a></li>
                <li><a href="#linksdrehendergehängter">Linksdrehender Gehängter<span class="red-card"> B
                            &diams;</span></a></li>
                <li><a href="#genscherdamen">Genscherdamen<span class="red-card"> D &hearts;</span></a></li>
                <li><a href="#gegengenscherdamen">Gegengenscherdamen<span class="red-card"> D &diams;</span></a></li>
                <li><a href="#heidmann">Heidmann<span class="black-card"> B &spades;</span></a></li>
                <li><a href="#heidfrau">Heidfrau<span class="black-card"> D &spadesuit;</span></a></li>
                <li><a href="#kämmerich">Kämmerich<span class="red-card"> B &heartsuit;</span></a></li>
            </ul>
        </li>
        <li><a href="#extrapunkte">Extrapunkte</a>
            <ul>
                <li><a href="#doppelkopf">Doppelkopf</a></li>
                <li><a href="#fuchsgefangen">Fuchs gefangen<span class="red-card"> A &diams;</span></a></li>
                <li><a href="#karlchen">Karlchen<span class="black-card"> B &clubsuit;</span></a></li>
                <li><a href="#agathe">Agathe<span class="red-card"> D &diams;</span></a></li>
                <li><a href="#fischauge">Fischauge<span class="red-card"> 9 &diams;</span></a></li>
                <li><a href="#gansgefangen">Gans gefangen</a></li>
                <li><a href="#festmahl">Festmahl</a></li>
                <li><a href="#blutbad">Blutbad</a></li>
                <li><a href="#klabautermann">Klabautermann<span class="black-card"> K &spades;</span></a></li>
                <li><a href="#kaffekränzchen">Kaffekränzchen</a></li>
            </ul>
        </li>
        <li><a href="#spielwert">Spielwert</a></li>
        <li><a href="#redewendungen">Redewendungen</a>
            <ul>
                <li><a href="#stichvernichtung">Stichvernichtung</a></li>
                <li><a href="#glaube">Glaube verloren</a></li>
                <li><a href="#verheizen">Alte verheizen</a></li>
                <li><a href="#ksg">KSG Moment</a></li>
                <li><a href="#exoderstill">Ex oder still</a></li>
            </ul>
        </li>
    </ul>
    <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <path stroke="#155726" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000"
            stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
    </svg>
</nav>


<!-- Content -->
<article class="contents">
    <section id="grundlagen">
        <h2>Grundlagen</h2>

        <div class="card-container" id="parteien">
            <h3 class="card-title">Parteien</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/krD.svg" />
                    <img src="static/cards/pD.svg" />
                    <!-- Add images here -->
                </div>
            </div>
        </div>

        <div class="card-container" id="dullen">
            <h3 class="card-title">Dullen</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/h10.svg" />
                    <img src="static/cards/h10.svg" />
                    <!-- Add images here -->
                </div>
            </div>
        </div>

        <div class="card-container" id="neuner">
            <h3 class="card-title">Neuner</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="large">
                    <img src="static/cards/kr9.svg" />
                    <img src="static/cards/p9.svg" />
                    <img src="static/cards/h9.svg" />
                    <img src="static/cards/k9.svg" />
                    <!-- Add images here -->
                </div>
            </div>
        </div>

        <div class="card-container" id="spielrichtung">
            <h3 class="card-title">Spielrichtung</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <!-- Add images here -->
                </div>
            </div>
        </div>
    </section>

    <section id="vorbehalte">
        <h2>Vorbehalte</h2>

        <div class="card-container" id="solivorbehalte">
            <h3 class="card-title">Soli</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <!-- Add images here -->
                </div>
            </div>
        </div>

        <div class="card-container" id="armut">
            <h3 class="card-title">Armut<span class="green-card"> &leq; 3 + Füchse</span></h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/krD.svg" />
                    <img src="static/cards/kB.svg" />
                    <img src="static/cards/h10.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="schwarzesau">
            <h3 class="card-title">Schwarze Sau</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/pD.svg" />
                    <img src="static/cards/pD.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="hochzeit">
            <h3 class="card-title">Hochzeit</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/krD.svg" />
                    <img src="static/cards/krD.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="schmeißen">
            <h3 class="card-title">Schmeißen</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="large">
                    <img src="static/cards/h9.svg" />
                    <img src="static/cards/pK.svg" />
                    <img src="static/cards/kB.svg" />
                    <img src="static/cards/krA.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="schlankermartinschmeißen">
            <h3 class="card-title">Schlanker Martin</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <!-- Add images here -->
                </div>
            </div>
        </div>
    </section>

    <section id="spielarten">
        <h2>Stille Soli</h2>

        <div class="card-container" id="stillehochzeit">
            <h3 class="card-title">Stille Hochzeit</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/krD.svg" />
                    <img src="static/cards/krD.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="kontrasolo">
            <h3 class="card-title">Kontrasolo</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="large">
                    <img src="static/cards/pD.svg" />
                    <img src="static/cards/pD.svg" />
                    <img src="static/cards/pK.svg" />
                    <img src="static/cards/pK.svg" />
                </div>
            </div>
        </div>
    </section>

    <section id="soli">
        <h2>Soli</h2>

        <div class="card-container" id="farbsolo">
            <h3 class="card-title">Farbsolo</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="large">
                    <!-- Add images here -->
                    <img src="static/cards/krA.svg" />
                    <img src="static/cards/pA.svg" />
                    <img src="static/cards/hA.svg" />
                    <img src="static/cards/kA.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="damensolo">
            <h3 class="card-title">Damensolo</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="large">
                    <!-- Add images here -->
                    <img src="static/cards/krD.svg" />
                    <img src="static/cards/pD.svg" />
                    <img src="static/cards/hD.svg" />
                    <img src="static/cards/kD.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="bubensolo">
            <h3 class="card-title">Bubensolo</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="large">
                    <!-- Add images here -->
                    <img src="static/cards/krB.svg" />
                    <img src="static/cards/pB.svg" />
                    <img src="static/cards/hB.svg" />
                    <img src="static/cards/kB.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="fleischlos">
            <h3 class="card-title">Fleischloses</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="large">
                    <!-- Add images here -->
                    <img src="static/cards/krA.svg" />
                    <img src="static/cards/pA.svg" />
                    <img src="static/cards/hA.svg" />
                    <img src="static/cards/kA.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="knochenlos">
            <h3 class="card-title">Knochenloses </h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="large">
                    <!-- Add images here -->
                    <img src="static/cards/kr9.svg" />
                    <img src="static/cards/p9.svg" />
                    <img src="static/cards/h9.svg" />
                    <img src="static/cards/k9.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="schlankermartin">
            <h3 class="card-title">Schlanker Martin</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <!-- Add images here -->
                </div>
            </div>
        </div>
    </section>

    <section id="spielbeginn">
        <h2>Spielbeginn</h2>

        <div class="card-container" id="ansagen">
            <h3 class="card-title">Ansagen</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <!-- Add images here -->
                </div>
            </div>
        </div>

        <div class="card-container" id="pflichtansage">
            <h3 class="card-title">Pflichtansage <span class="green-card"> &GreaterEqual; 35</span></h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="large">
                    <img src="static/cards/krA.svg" />
                    <img src="static/cards/kr10.svg" />
                    <img src="static/cards/krK.svg" />
                    <img src="static/cards/kr10.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="feigheit">
            <h3 class="card-title">Feigheit</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <!-- Add images here -->
                </div>
            </div>
        </div>

        <div class="card-container" id="rauskommen">
            <h3 class="card-title">Wer kommt raus?</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <!-- Add images here -->
                </div>
            </div>
        </div>
    </section>


    <section id="sonderkarten">
        <h2>Sonderkarten</h2>
        <div class="card-container" id="schweinchen">
            <h3 class="card-title">Schweinchen<span class="red-card"> A &diams;</span></h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/kA.svg" />
                    <img src="static/cards/kA.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="superschweinchen">
            <h3 class="card-title">Superschweinchen<span class="red-card"> 10 &diams;</span></h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="large">
                    <img src="static/cards/k10.svg" />
                    <img src="static/cards/k10.svg" />
                </div>
            </div>
        </div>
        <div class="card-container" id="hyperschweinchen">
            <h3 class="card-title">Hyperschweinchen<span class="red-card"> K &diams;</span></h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/kK.svg" />
                    <img src="static/cards/kK.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="linksdrehendergehängter">
            <h3 class="card-title">Linksdrehender Gehängter<span class="red-card"> B &diams;</span></h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/kB.svg" />
                    <img src="static/cards/kB.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="genscherdamen">
            <h3 class="card-title">Genscherdamen<span class="red-card"> D &heartsuit;</span></h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/hD.svg" />
                    <img src="static/cards/hD.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="gegengenscherdamen">
            <h3 class="card-title">Gegengenscherdamen<span class="red-card"> D &diams;</span></h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/kD.svg" />
                    <img src="static/cards/kD.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="heidmann">
            <h3 class="card-title">Heidmann<span class="black-card"> B &spadesuit;</span></h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/pB.svg" />
                    <img src="static/cards/pB.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="heidfrau">
            <h3 class="card-title">Heidfrau<span class="black-card"> D &spades;</span></h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/pD.svg" />
                    <img src="static/cards/pD.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="kämmerich">
            <h3 class="card-title">Kämmerich<span class="red-card"> B &hearts;</span></h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/hB.svg" />
                    <img src="static/cards/hB.svg" />
                </div>
            </div>
        </div>
    </section>

    <section id="extrapunkte">
        <h2>Extrapunkte</h2>
        <div class="card-container" id="doppelkopf">
            <h3 class="card-title">Doppelkopf</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="large">
                    <img src="static/cards/pA.svg" />
                    <img src="static/cards/p10.svg" />
                    <img src="static/cards/p10.svg" />
                    <img src="static/cards/kA.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="fuchsgefangen">
            <h3 class="card-title">Fuchs gefangen</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/kA.svg" />
                </div>
            </div>
        </div>
        <div class="card-container" id="karlchen">
            <h3 class="card-title">Karlchen</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/krB.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="agathe">
            <h3 class="card-title">Agathe</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/krB.svg" />
                    <img src="static/cards/kD.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="fischauge">
            <h3 class="card-title">Fischauge</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/k9.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="gansgefangen">
            <h3 class="card-title">Gans gefangen</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/k9.svg" />
                    <img src="static/cards/kA.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="festmahl">
            <h3 class="card-title">Festmahl</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/k9.svg" />
                    <img src="static/cards/kA.svg" />
                    <img src="static/cards/k9.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="blutbad">
            <h3 class="card-title">Blutbad</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                </div>
            </div>
        </div>

        <div class="card-container" id="klabautermann">
            <h3 class="card-title">Klabautermann</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="small">
                    <img src="static/cards/pK.svg" />
                    <img src="static/cards/pD.svg" />
                </div>
            </div>
        </div>

        <div class="card-container" id="kaffekränzchen">
            <h3 class="card-title">Kaffekränzchen</h3>
            <div class="content-section">
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu.
                        Curabitur eget orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
                </div>
                <div class="svg-section" data-size="large">
                    <img src="static/cards/pD.svg" />
                    <img src="static/cards/hD.svg" />
                    <img src="static/cards/pD.svg" />
                    <img src="static/cards/kD.svg" />
                </div>
            </div>
        </div>
    </section>

    <section id="spielwert">
        <h2>Spielwert</h2>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
    </section>

    <section id="redewendungen">
        <h2>Redewendungen</h2>
        <div id="stichvernichtung">
            <h3>Stichvernichtung</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="glaube">
            <h3>Glaube verloren</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="verheizen">
            <h3>Alte verheizen</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="ksg">
            <h3>KSG Moment</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
        <div id="exoderstill">
            <h3>Ex oder still?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Curabitur eget
                orci nisi. Vivamus sit amet lacus at felis venenatis varius non ac leo.</p>
        </div>
    </section>

</article>

{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/rules.js') }}"></script>
{% endblock %}