{% extends "base.html" %}

{% block title %}{{ data.player_name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/specific_player.css') }}">
{% endblock %}

{% block content %}
<div class="player-profile-container">
    <!-- Left Section: Player Info -->
    <div class="player-info">
        <h1>Profil: {{ data.player_name }}</h1>
        <!-- Placeholder for Profile Picture -->
        <div class="profile-picture">
            <!-- Insert profile picture here if needed -->
            <!-- <img src="profile.jpg" alt="Profile Picture"> -->
        </div>
        <!-- Player Stats Table -->
        <div class="player-stats">
            <table id="statsTable">
                <tr>
                    <td>Punkte:</td>
                    <td id="points">0</td>
                </tr>
                <tr>
                    <td>Winrate:</td>
                    <td id="winrate" class="winrate">0%</td>
                </tr>
                <tr>
                    <td>Durchschnittliche Punkte:</td>
                    <td id="mean_points" class="mean_points">0</td>
                </tr>
                <tr>
                    <td>Solo-Winrate:</td>
                    <td id="solo_winrate" class="winrate">0%</td>
                </tr>
                <tr>
                    <td>Gespielte Solos:</td>
                    <td id="played_solo">0</td>
                </tr>
                <tr>
                    <td>Gespielte Spiele:</td>
                    <td id="played">0</td>
                </tr>
                <tr>
                    <td>Gespielte Spiele allein:</td>
                    <td id="played_alone">0</td>
                </tr>
                <tr>
                    <td>Winrate allein:</td>
                    <td id="alone_winrate">0</td>
                </tr>
                <tr>
                    <td>Durchschnittliche Punkte allein:</td>
                    <td id="alone_mean_points">0</td>
                </tr>
                <tr>
                    <td>Winrate in den letzten 20 Spielen:</td>
                    <td id="winrate_lately" class="winrate">0%</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Right Section: Player Stats and Winrates -->
    <div class="player-stats-winrates">
        <h2>Teampartner*innen</h2>
        <div class="teammates-container">
            <div class="best-teammates">
                <h3>Stomp Partner*innen</h3>
                <ul id="bestTeammates" class="teammate-list"></ul>
            </div>
            <div class="worst-teammates">
                <h3>Int Partner*innen</h3>
                <ul id="worstTeammates" class="teammate-list"></ul>
            </div>
        </div>
        <div class="teammates-container">
            <div class="stonks-teammates">
                <h3>Stonks Partner*innen</h3>
                <ul id="stonksTeammates" class="teammate-list"></ul>
            </div>
            <div class="winstreak-teammates">
                <h3>Winstreak Partner*innen</h3>
                <ul id="winstreakTeammates" class="teammate-list"></ul>
            </div>
        </div>
    </div>

</div>

<!-- Match History Section -->
<div class="match-history-container" data-player-id="{{ data.player_id }}">
    <h2>Gespielte Runden</h2>

    <!-- Container for Match Info Headers -->
    <div class="match-info-header">
        <div class="match-column-header-placeholder"></div>
        <div class="match-column-header">Datum</div>
        <div class="match-column-header">Spieltyp</div>
        <div class="match-column-header">Re Teams</div>
        <div class="match-column-header">Kontra Teams</div>
        <div class="match-column-header">Siegerpartei</div>
        <div class="match-column-header">Punkte für {{data.player_name}}</div>
    </div>
    <div class="match-container" id="matchContainer"></div>
    <div id="pagination">
        <button id="loadMoreBtn">Load More</button>
    </div>
</div>

<script src="{{ url_for('static', filename='js/specific_player.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const playerID = document.querySelector('.match-history-container').dataset.playerId;
        loadPlayerStats(playerID);
    });
</script>
{% endblock %}