{% extends "base.html" %}

{% block title %}Statistiken{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/statistics.css') }}">
{% endblock %}

{% block content %}
<div class="container" id="time-series-plot">
    <div id="ts-plot"></div>
</div>
<div class="container">
    <div class="team-winrates-container" id="teams">
        <div id="team-winrates-plot"></div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/statistics.js') }}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}